@import "tailwindcss";
@plugin "daisyui" {
  themes: retro;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

.wiggle-animation{
  animation: wiggle 1.5s ease-in-out infinite
}

:root {
  --toastify-color-light: #ECE3CA;
  --toastify-text-color-light: #793205;
}